* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 100%;
  background-color: #2d333b;
  color: white;
  margin-top: 60px;
}
body {
  background-color: #2d333b;
}
.containerAuxiliar {
  display: grid;
  grid-template-columns: 20% 70%;
} /* 1040px */
.profileCardContainer {
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.data {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  margin: 5px 0px;
}

.PerfilData {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  background-color: #242930;
  font-weight: 700;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.description {
  margin: 0px 5px;
  text-align: center;
}

.subContainer {
  min-width: 100%;
  display: flex;
  gap: 10px;
  border: 1px solid #cecece;
}

.photoMap {
  width: 230px;
  text-align: center;
}

.photoMap2 {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  border: none;
}

.notDisabled {
  display: block;
}
.Disabled {
  display: none;
}
.contrainerTitelh4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px #cecece;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-radius: 3px;
}

.containerComentarios {
  min-width: 400px;
  max-width: 100%;
}

.pDePerfil {
  color: white;
}

.pDePerfilPosteos {
  color: rgb(0, 0, 0);
  background-color: #FFFFFF;
}
.pDeBio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  background-color: #242930;
  font-weight: 700;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 15px;
}
.pDePerfilContrataciones {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  background-color: #242930;
  font-weight: 700;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 15px;
}
.pDePerfilRating {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  background-color: #242930;
  font-weight: 700;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 15px;
}
.styleratingP {
  color: white;
  margin-bottom: 15px;
  font-weight: 700;
}
.pDePerfilDireccion {
  color: white;
  margin-bottom: 15px;
  font-weight: 700;
}
.pDePerfilPosteosContainer {
  border: solid white 1px;
  border-radius: 3px;
  margin-bottom: 15px;
}

img {
  object-fit: cover;
}

.DespliegueDeInfo {
  cursor: pointer;
  padding:15px;
  border-radius: 3px;
 
}
.DespliegueDeInfo:hover {
  cursor: pointer;
  background-color: #17817f;
}

.EditPerfil {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  text-decoration: none;
}

.buttomPerfile2 {
  border-radius: 3px;
  color: white;
  border: solid 1px white;
  background-color: #242930;
  font-weight: 700;
  font-size: 0.9rem;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.buttomPerfile {
  border-radius: 3px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  background-color: #242930;
  font-weight: 700;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.buttomPerfile:hover {
  border-radius: 3px;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  background-color: #17817f;
  font-weight: 700;
  width: 80%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.buttomPerfile3 {
  border-radius: 3px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(0, 0, 0);
  background-color: #FFFFFF;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}
.buttomPerfile3:hover {
  border-radius: 3px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(0, 0, 0);
  background-color: #17817f;
  font-weight: 700;
  width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.imgPerfil {
  width: 80%;
  height: 250;
  border-radius: 3px;
}
@media (max-width: 922px) {
  .contrainerTitelh4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px #cecece;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-radius: 3px;
  }
  .containerAuxiliar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}


@media (max-width: 645px) {
  .containerAuxiliar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  } /* 1040px */
  .profileCardContainer {
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .photoMap {
    width: 320px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contrainerTitelh4 {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px #cecece;
    margin:0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .probandoSiEsContenedor{
    min-width:320px;
    margin-left: auto;
    margin-right: auto;
  }
}