.navBarContainer {
  width: 100%;
}

.nav {
  background-color: #2d333b;
  display: Flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
}

.logo {
  width: 100px;
  margin-top: 20px;
  padding-left: 40px;
}

.navMenu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navMenuItem {
  margin: 0px 5px;
}

.navMenuItemAvatar {
}

.navMenuItemInput {
}
.name {
  color: white;

  /* bold; */
}

.navMenuItemLogout {
  margin: 0px 10px;
}

.singleButtonContainer {
  margin: 0.9rem;
  background: #00cfc3;
  color: white;
  font-weight: bold;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0.9rem;
  min-width: 10em;
  min-height: 2em;
  position: relative;
  transition: all 0.4s;
}

.singleButtonContainer2 {
  margin: 0.9rem;
  background: none;
  color: #00cfc3;
  font-weight: bold;
  border-radius: 0.6rem;
  border: 1px solid #00cfc3;
  cursor: pointer;
  font-size: 1em;
  padding: 0.9rem;
  min-width: 10em;
  min-height: 2em;
  position: relative;
  transition: all 0.4s;
}

.singleButtonContainer3 {
  margin: 0.9rem;
  background: #ffffff;
  color: #00cfc3;
  font-weight: bold;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0.9rem;
  min-width: 10em;
  min-height: 2em;
  position: relative;
  transition: all 0.4s;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .navMenu {
    flex-direction: column;
  }

  .logo {
    padding-left: 0px;
  }
}
