/* body{
    display:flex;
    min-height:100vh;
} */
.formpublic {
  background-color: white;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

.form_container {
  margin-top: -4em;
  display: grid;
  gap: 2.5em;
}
.form_title {
  font-size: 2rem;
  margin-bottom: 0.5em;
  text-align: center;
}

.form_group {
  position: relative;
  --color: #202020d2;
}
.form_label {
  color: var(--color);
  cursor: pointer;
  text-align: center;
  top: 0;
  left: 5px;
}
.form_input {
  width: 100%;
  background: none;
  color: black;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border: 1px solid #3866f2;
  border-radius: 3px;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3666f2;
}
.form_inputdes {
  width: 100%;
  height: 90%;
  background: none;
  color: black;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border: 1px solid #3866f2;
  border-radius: 3px;
}

.form_submit {
  background-color: #3866f2;
  color: #fff;
  font-size: 1rem;
  padding: 0.8em 6em;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  position: absolute;
  left: 0px;
}
.form_submiterr {
  background-color: red;
  color: #fff;
  font-size: 1rem;
  padding: 0.8em 6em;
  border: none;
  border-radius: 0.5em;
}

.form_backep{
  background-color: #3866f2;
  color: #fff;

  font-size: 1rem;
  padding: 0.2em 3em;
  border: none;
  border-radius: 0.5em;
  width: auto;
  margin-top: 65px;
  opacity: 0.8;
}
.form_cancell {
  margin-top: 30px;
  text-align: center;
  width: 7px;
  height: 10px;
  background-color: rgba(255, 0, 0, 0.514);
  color: #fff;
  font-size: 1rem;
  padding: 0.8em 6em;
  border: none;
  border-radius: 0.5em;
}

.errortxt {
  text-align: center;
  color: red;
  font-weight: bold;
}
.imgcontent {
  border: 1px solid #3866f2;
  border-radius: 3px;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.imageselect {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  border: 1px, solid blue;
}
.btncontainerpr {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .form_title {
    font-size: 1.8rem;
  }
}
